@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

body {
  font-family: "Open Sans", sans-serif;
}
.me-auto {
  margin-left: auto !important;
}
.carousel-item img {
  height: 500px !important;
}

.product h2 {
  text-align: center;
  margin: 30px 0px 10px 0px;
  font-size: 32px;
  font-weight: 800;
  color: rgb(61, 59, 59);
}
.about-card .card img {
  height: 250px;
  /* margin-bottom: 16px; */
  margin: 16px;
  border-radius: 10px 10px 0px 0px !important;
}
.about-card .card {
  transition: 0.5s !important;
  cursor: pointer;
  border-radius: 1.25rem !important ;
  box-shadow: 0 4px 8px 0 #00000033 !important ;
}
.about-card .card:hover {
  transform: scale(1.05) !important;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3) !important;
}
#product-category {
  text-align: center;
  margin-bottom: 30px;
}
#product-category a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-size: 22px;
  padding: 5px;
  /* font-weight: 700; */
  /* font-family: ; */
}

/* .about-card .card:hover {
  transform: scale(1.05) !important;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3) !important;
} */
/* .about-card .card {
  transition: 0.5s !important;
  cursor: pointer !important;
  border-radius: 1.25rem !important;
  box-shadow: 0 4px 8px 0 #00000033 !important;
} */
/* .card img {
  margin-bottom: 16px;
  border-radius: 10px 10px 0px 0px !important;
} */

.loading {
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 100%;
}

.loading::after {
  content: "";
  width: 37.6px;
  height: 37.6px;
  border: 8px solid #f2dcca;
  border-top-color: #db6400;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.content {
  transition: 0.5s;
  opacity: 0;
}
.show {
  display: flex;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  color: var(--white);
  background-color: var(--color-sec);
  padding: 5px;
  border-radius: 5px;
}

.filter-box {
  margin-left: 400px;
  margin-bottom: 40px;
}
.filter-box .active {
  background-color: var(--color-primary);
}
/* .active {
  position: relative;
}
.active > * {
  color: #db6400;
}
.active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background-color: black;
} */

.page {
  text-align: center;
  margin-bottom: 10px;
}
.page button {
  background-color: var(--color-sec);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.page button:hover {
  background-color: transparent;
  color: var(--color-sec);
  border: 1px solid var(--color-sec);
  transition: 0.5s;
}

/* .top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: transparent;
  padding: 1rem;
  border: 1px solid var(--color-sec);
  outline: none;
  font-size: 2rem;
  z-index: 111;
  opacity: 0;
  transform: translateY(10rem);
  transition: all 0.3s;
} */

.top {
  position: fixed;
  background-color: transparent;
  bottom: 3rem;
  right: 1.7rem;
  padding: 1rem;
  border: 2px solid var(--color-sec);
  z-index: 111;
  transform: translateY(10rem);
  transition: all 0.3s;
}
.show-btn {
  opacity: 1;
  transform: translateY(0);
}
.table {
  width: 60% !important;
}
